<nav>
    <div class="nav-wrapper container">
        {{#link-to "home" class="brand-logo"}}
            Welcome to {{appName}}
        {{/link-to}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                {{#link-to "user"}}
                    User link
                {{/link-to}}
            </li>
            <li>
                {{#link-to "user"}}
                    User link
                {{/link-to}}
            </li>
            <li>
                {{#link-to "user"}}
                    User link
                {{/link-to}}
            </li>
        </ul>
    </div>
</nav>

<main class="container">
    {{outlet}}
</main>
